.boardAdsBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding-bottom: 35px;

  &__icon {
    display: block;

    &--active>g>rect {
      fill: #fff;
    }
  }

  &__categoryContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--mt {
    margin-left: 15px;
  }

  &__text {
    font-size: 0.9rem;
    font-family: "Roboto-bold";
  }
  &__subMenu {
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    background-color: #616c7a;
    width: 100%;
    padding: 3px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__subMenuItem {
    font-size: 0.8rem;
    font-family: "Roboto-regular";

    &--brand {
      margin-right: 10px;
    }
    &--model {
      margin-right: 15px;
    }

    &--autoCategory {
      margin-right: 45px;
    }

    &--yearOfIssue {
      margin-right: 25px;
    }

    &--squareMargin {
      margin-right: 36px;
    }

    &--priceMargin {
      margin-right: 35px;
    }

    &--roomsMargin {
      margin-right: 25px;
    }

    &--floarMargin {
      margin-right: 18px;
    }

    &--subcategoryMargin {
      margin-right: 80px;
    }

    &--categoryMargin {
      margin-right: 100px;
    }

    &--photoMargin {
      margin-right: 20px;
      color: #F78536;
    }

    &--titleMargin {
      margin-right: 286px;
      color: #F78536;
    }

    &--cityMargin {
      margin-right: 10px;
    }
  }

  &__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 50px;
    color: #000;
    cursor: pointer;

    &--saleBuy::before {
      width: 43px;
      height: 43px;
      -webkit-mask: url("../../assets/svg/armsIcon.svg") no-repeat 50% 50%;
      mask: url("../../assets/svg/armsIcon.svg") no-repeat 50% 50%;
    }

    &--active {
      color: #fff;
      background-color: #616c7a;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      &::before {
        background-color: #fff;
      }

      & > ul {
        display: flex;
      }
    }
  }
}
