

.mainContent {
  display: flex;
  margin-bottom: 50px;
  &__btns {
    max-width: 200px;
    margin-right: 10%;
  }

  &__newAd {
    margin-bottom: 10px;
  }

  &__discounts {
    width: 100%;
    background-color: #ccc;
  }
}

.ads {
  display: flex;
  justify-content: space-between;
  position: relative;
  &__shares {
    width: 250px;
    background-color: #ccc;
    padding: 20px;
  }

  &__list {
    width: 80%;
  }
}