@import 'semantic-ui-css/semantic.min.css';

@font-face {
  font-family: 'PTSans-bold';
  font-weight: 900;
  src: local('PTSans'), url(./fonts/PTSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'PTSans-normal';
    font-weight: 400;
    src: local('PTSans'), url(./fonts/PTSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-bold';
    font-weight: 900;
    src: local('Roboto'), url(./fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-normal';
  font-weight: 400;
  src: local('Roboto'), url(./fonts/Roboto-Bold.ttf) format('truetype');
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-normal';
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 5px;
}