// @import 'semantic-ui-css/semantic.min.css';

@font-face {
  font-family: 'PTSans-bold';
  src: local('PTSans'), url(./fonts/PTSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'PTSans-normal';
    src: local('PTSans'), url(./fonts/PTSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-bold';
    src: local('Roboto'), url(./fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-normal';
  src: local('Roboto'), url(./fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-regular';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Arial';
  src: local('Arial'), url(./fonts/Arial.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-regular';
  box-sizing: border-box;
}

html {
  font-size: 17px;
}

.container {
  max-width: 1400px;  /// has been 1720
  margin: 0 auto;
  padding: 0 5px;
}