.adsList {
  width: 100%;

  &__alertEmpty {
    text-align: center;
    font-size: 1.2rem;
    color: red;
  }

  &__itemTitle {
    width: 399px;
  }
  &__itemCity{
    width: 155px;
  }
  &__itemImg {
    width: 27px;
  }
  &__itemSection {
    width: 179px;
  }
  &__itemType{
    width: 175px;
  }
  &__itemFloor {
    width: 20px;
  }
  &__itemRooms {
    width: 60px;
  }
  &__itemPrice {
    width: 70px;
  }
  &__itemSquare {
    width: 60px;
  }


  &__tableItem {

    overflow: hidden;
    margin-right: 17px;
    display: flex;
    align-items: center;
    padding: 0;

    &--titleMargin {
      margin-right: 15px;
    }

    &--imgMargin {
      margin-right: 15px;
    }

    &--wordWrap {
      word-wrap: break-word;
      margin-right: 10px;
    }
  }

  &__tableText {
    overflow: hidden;
    font-size: 0.7rem;
    white-space: nowrap;

    &--textWrap {
      white-space: pre-wrap;
      line-height: 12px;
    }
  }

  &__tableImg {
    display: flex;
    align-items: center;
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__table {
    display: table;
    table-layout: fixed;
    // justify-content: space-between;
    // align-items: center;
    width: 100%;
    
  }

  &__tableDate {
    color: #e30000;
  }

  &__tableBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btnDetails {
    border: 2px solid #000000;
    color: #000;
    background-color: transparent;
    border-radius: 5px;
    font-size: 0.7rem;
    cursor: pointer;
  }

  &__btnFavorite {
    width: 18px;
    height: 18px;
    background-image: url("../../assets/svg/favorites.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 100;

    &:hover {
      background-image: url('../../assets/svg/faviritesActive.svg');
    }

    &--active {
      background-image: url('../../assets/svg/faviritesActive.svg');
    }
  }

  &__openAd {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../../assets/svg/openOffer.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    cursor: pointer;
  }

  &__popupImg {
    cursor: pointer;
  }

  &__slider {
    max-height: 300px;
  }

  &__hots {
    margin-left: 5px;
    background-color: #ccc;
  }

  &__sliderContainer {
    width: 300px;
    cursor: pointer;
  }

  &__infoContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 200px;
  }

  &__item {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 5px;
    // border: 2px solid white;
    cursor: pointer;
    font-size: 1rem;
    font-family: "PTSans-normal";
    position: relative;
    z-index: 0;
    width: 100%;
  }
}

.gold {
  background-color: #FAF460;
}

.silver {
  background-color:#C4C4C4;
}

.common {
  background-color: #F2F2F2;
}
