.logo {
  width: 200px;
  height: 120px;
  display: block;
  background-image: url('../../assets/png/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}