.sales-ads {
  background-color: #ccc;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 20px !important;

  &__item {
    background: #F5752C;
    color: #fff;
    margin-right: 10px;
    padding: 26px 0px !important;
    margin-bottom: 5px;
  }
}