.runAd {
  &__item {
    background-color: #E14848;
    padding: 7px 0;
    font-family: 'PT Sans';
    font-size: 22px;
    color: #fff;
  }
}


.b-marquee {
  font-family: 'Segoe UI', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  background-color: #E14848;
  color: #fff;
  padding: 10px;
  position: relative;
  z-index: 0;
  margin-bottom: 5px;
}

.b-marquee__text {
  -webkit-animation: animMarquee 10s linear infinite reverse;
  animation: animMarquee 10s linear infinite reverse;
}

@-webkit-keyframes animMarquee {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes animMarquee {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}


/* text right to left*/

.b-marquee--rtl {}

.b-marquee--rtl .b-marquee__text {
  -webkit-animation: animMarqueeRtl 10s linear reverse;
  animation: animMarqueeRtl 10s linear reverse;
}

@-webkit-keyframes animMarqueeRtl {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes animMarqueeRtl {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}