// .slide-container {
//   max-height: 540px !important;
//   position: relative !important;
// }

.indicators {
  position: absolute;
  margin-top: 0 !important;
  bottom: 10px !important;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1000 !important;
}

.image-container {
  cursor: pointer !important;
}