.accountPage {
  &__accountNavbar {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
  }

  &__offersList {
    width: 83%;
    border-radius: 5px;
    padding: 5px;
  }

  &__newAd {
    width: 83%;
  }
}