.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  

  &--ml{
    margin-left: 15px;
  }
  

  &__box{
    background: linear-gradient(180deg, #F78536 0%, #F46B26 100%);
    width: 1486px;
    height: 72px;
    display: block;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    position: relative;
  }

  &__item {
    list-style-type: none;
    padding: 10px 0;
    color: #F46F29;
    font-weight: 400;
    font-family: 'Roboto-normal';
    font-size: 22px;
    line-height: 26px;

    &--active {
      color: #fff;
    
    }
  }
  
  &__submenu {
    display: none;
    position: absolute;
    background-color: #fc9803;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    top: 39px;
    left: 0;

    &>li:hover {
      background-color: #347deb;
    }

    &>li {
      padding: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    cursor: pointer;

    &:hover>.navbar__submenu {
      cursor: pointer;
      display: flex;
    }
  }
}

@media (max-width: 375px) {
  .navbar {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    &__list {
      max-width: 200px;
      display: block;
    }

    &__submenu {
      position: relative;
      flex-direction: column;
      max-width: 200px;
    }
  }
}