.openOffer {
  background-color: #ececec;
  padding: 10px;
  animation: showBlock 1s linear;

  &__dataColumn {
    width: 49%;
  }

  &__showNumber {
    font-size: 1rem;
    background: linear-gradient(180deg, #f5742c 0%, #ffad6a 100%);
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    outline: none;
  }

  &__textArea {
    resize: none;
    width: 100%;
    background: linear-gradient(180deg, #e2e2e2 39.06%, rgba(226, 226, 226, 0) 100%);
    box-shadow: inset 0px 4px 13px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 130px;
    font-family: 'Roboto-normal';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #000;
    padding: 10px;
    &::placeholder {
      color: #ababab;
    }
  }

  &__btn {
    text-align: center;
    font-family: "Roboto-normal";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
    border: none;
    background: #f46b26;
    border-radius: 5px;
    margin: 0 auto;
    padding: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      opacity: 0.8;
    }
  }

  &__icon {
    margin-left: 5px;
  }

  &__btnContainer {
    text-align: center;
  }

  &__mainInfo {
    font-family: "Roboto-normal";
    font-size: 1rem;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__moreInfo {
    font-family: "Roboto-normal";
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__moreInfoText {
    font-family: "Roboto-regular";
    font-size: 1rem;
    border-radius: 5px;
    padding: 0 3px;
    margin-left: 1px;
  }

  &__infoContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__dataTitle {
    background: linear-gradient(180deg, #f36925 0%, #f8923e 65.62%);
    font-size: 1.5rem;
    padding: 3px 70px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  &__dataInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__dataContainer {
    padding: 5px 10px;


    &--padding {
      padding: 5px 50px;
    }
  }

  &__offerData {
    background-color: #fff;
    width: 45%;
  }

  &__descriptionOffer {
    width: 45%;
    background-color: #fff;
    min-height: 300px;
   
  }

  &__photoContainer {
    width: 45%;
    background-color: #fff;
    max-height: 365px;
  }

  &__sliderContainer {
    padding: 20px 30px 0 30px;
  }

  &__price {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%), #c4c4c4;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    font-family: "Roboto-bold";
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
  }

  &__offerTitle {
    background: linear-gradient(180deg, #e2e2e2 39.06%, rgba(226, 226, 226, 0) 100%);
    box-shadow: inset 0px 4px 13px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    padding: 3px 5px;
  }

  &__offerDescription {
    background: linear-gradient(180deg, #e2e2e2 39.06%, rgba(226, 226, 226, 0) 100%);
    box-shadow: inset 0px 4px 13px rgba(0, 0, 0, 0.25);
    font-size: 0.8rem;
    white-space: pre-wrap;
    border-radius: 5px;
    min-height: 200px;
    padding: 3px 5px;
  }
}


@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
